Rule 1: Players may propose new rules and changes to rules. A majority vote decides whether the proposal is accepted or not.
Rule 2: Anyone with the @nomic role is considered to be a player.
Rule 3: To keep the proposal channel tidy, voting is to be done using the :white_check_mark: or :no_entry_sign: emojis to symbolize a vote for or against a rules proposal respectively.
Rule 4: Only votes via emoji from Players are to be counted towards rules proposals being accepted or rejected.
